
<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Kayıt Olun</h3>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="CustomerName" Placeholder="Ad" required="" />
                <input type="text" class="name" name="CustomerSurname" Placeholder="Soyad" required="" />
                <input type="text" class="name" name="CustomerCity" Placeholder="Şehir" required="" />
                <input type="email" class="email" name="CustomerEmail" Placeholder="Mail Adresi" required="" />
                <input type="password" class="password" name="Password" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Gizlilik sözleşmesini kabul ediyorum <a href="#">Gizlilik Sözleşmesi</a></label>
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>
