@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<CargoTrack>
@{
    ViewBag.Title = "CargoDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-3">
    <tr>
        <th>Açıklama</th>
        <th>Tarih</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Description</td>
            <td>@item.TrackDate.ToString("yyyy-MM-dd hh:mm tt")</td>
        </tr>
    }
</table>

